:root{
--space-1:4px;
--space-2:6px;
--space-3:7px;
--space-4:8px;
--space-5:10px;
--space-6:11px;
--space-7:12px;
--space-8:16px;
--space-9:18px;
--space-10:20px;
--space-11:22px;
--space-12:24px;
--space-13:32px;
--space-14:48px;
--space-15:80px;
--space-16:100px;

--space-gutter-grid:16px;
--space-section:80px;
--space-section-lg:100px;
--layout-max-width:1312px;
}
